.App {
  text-align: center;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to right,rgb(179, 209, 255),rgb(242, 230, 255) );
}

.navbar{
  background: linear-gradient(to right,rgb(0, 0, 204,0.3),rgb(153, 0, 255,0.3) );
}

.modal-content{
  background: linear-gradient(to right,rgb(0, 0, 124,0.8),rgb(153, 0, 155,0.8) );
}

.table-container{
  overflow: scroll;
}

.fa-trash{
  color: rgb(200, 0, 0);
  cursor: pointer;
}

.fa-trash:hover{
  color: rgb(255, 0, 0);
}